header {
	background: var(--dark-blue);
	padding: 20px;
	color: var(--white);
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-size: 30px;
	margin: 0 20px;
}

.header-left {
	display: flex;
	align-items: center;
}

.icon {
	width: 50px;
}

.nav-item {
	text-decoration: none;
	color: white;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}